body{
    background: rgb(187, 126, 245) ;
}
#buttons{
    margin: 20px;
}
#buttons button:hover{
    background: #d0d0fa;
    color: #1c1b1b;
    
}
.btnone{
    height: 40px;
    width: 90px;
    background: #313134;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
}
.btntwo{
    height: 40px;
    width: 90px;
    background: #313134;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
}
.btnthree{
    height: 40px;
    width: 90px;
    background: #313134;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
}
.BtnOne{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #0a0909;
}
.BtnTwo{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #0a0909;
}
.BtnThree{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #0a0909;
}
.ToastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.toast{
    width: 400px;
    border-radius: 5px;
    height: 80px;
    display: flex;
    background: #fff;
    color: #0a0909;
    align-items: center;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft{
    100%{
        transform: translateX(0);
    }
}
.toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.error i{
    margin: 0 20px;
    font-size: 35px;
    color: rgb(222, 8, 12);
}
.invalid i{
    margin: 0 20px;
    font-size: 35px;
    color: rgb(245, 96, 16);
}
.toast i::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
.error i::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgb(245, 9, 9);
    animation: anim 5s linear forwards;
}
.invalid i::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgb(254, 109, 26);
    animation: anim 5s linear forwards;
}
@keyframes anim{
    100%{
        width: 0;
    }
}